.navbar{
    width: 99vw;
    /* background-color: yellow; */
    border: 1px solid black;
    height: 40px;
    display: flex;
    margin-top: 0px;
   align-items: center;
  padding: 2px;
  
    
}
.bars{
    width: 30px;
    height: 35px;
    display: flex;
    align-items: center;

    justify-content: center;
}
.bars>i{
    font-size: 20px;
    width: 25px;
}
.navbar>div{
    display: flex;
    justify-content: space-evenly;
}
.navbar>div>img{
    width: 100px;
    height: 30px;
}
#search{
    width: 450px;
   margin-left: 200px;
    justify-content: center;
    height: 35px;
    font-size: 16px;
    cursor: pointer;
}
.navbar>div:nth-child(3)>button{
    width: 40px;
    height: 35px;
}
.micro{
width: 30px;
height: 30px;
    background-color:  rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
#search_results{
    display: grid;
    grid-template-columns: repeat(4,300px);
    grid-template-rows: repeat(auto,300px);
    padding: 20px;
    grid-gap: 20px;
    cursor: pointer;

}
.bell{display: flex;
width: 50px;
height: 35px;
  justify-content: space-between;
  align-items: center;
  /* background-color: yellow; */
  cursor: pointer;

}
.user{display: flex;
width: 100px;
height: 35px;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  cursor: pointer;

}
img{
  width: 300px;
  height: 250px;
cursor: pointer;
}